@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}
.tastiest{
  background: url(/images/pexelsphoto842142.jpeg);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.tasttext{
  width: 50%;
  text-align: left;
  padding-bottom: 80px;
}
.tasttext h1{
  font-weight: 700;
  font-size: 60px;
}
.tasttext p{
  font-size: 24px;
  line-height: 1.5; 
}
.reviews{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #292930;
  color: #FFFFFF;
}
.rewleft{
  width: 50%;
  height: 90vh;
}
.rewleft img{
  width: 100%;
  height: 100%;
}
.rewright{
  width: 50%;
  text-align: center;
}
.rewright h1{
  font-size: 50px;
  font-weight: bold;
  padding: 50px 0;
}
.rewright i{
  color: #fcc133;
  font-size: 60px;
}
.rewright p{
  margin: 20px 0;
  font-size: 24px;
  line-height: 1.5;
}
.loo{
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0;
}
.abcontact{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #292930;

}
.abconot1 p{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;

}
.abconot1 h4{
  font-size: 28px;
  line-height: 1.3;
  font-weight: 800;
  margin: 20px 0;
  color: #FFFFFF;
}
.abconot2 {
  background: url(/images/pexelsphoto262945.jpeg);
  background-size: 100% 100%;
  width: 250px;
  height: 300px;
  margin-top: 50px;
}
.abconot2 img{
  width: 100%;
}
.abconot3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 600px;
  background: #fcc133;
}
.abtext1 h1{
  font-size: 48px;
  font-weight: 700;
  padding: 20px 0;
}
.abtext1 p{
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.foooter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
  background: #333333;
}
.foooter p{
  margin:0 10px ;
}
.foooter a{
  color: rgba(100, 100, 246, 0.749);
}
.mconteiner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mleft img{
width: 100%;
}
.mright img{
  width: 100%;
 
}
.mmid{
  text-align: center;
  width: 13%;
  height: 109.8vh;
  color: #111111;
  background-color: #fcc133
}
.mmid h1{
  margin-top: 300px;
}
.mleft h1{
  position: absolute;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100px;
  top: 10px;
}
.mleft{
  position: relative;
}
.mright{
  position: relative;
}
.mright a{
  position: absolute;
  color: white;
  right: 150px;
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  top: 20px;
}
.mright a:hover{
  background-color: gray;
}
.mconteiner2{
  background-color: #292930;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mcontent2{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.mmid2 img{
  width: 80%;
  margin-left: 200px;
}
.mmid2{
  width: 30%;
  margin-left: 300px;
}
.mleft2 {
  position: absolute;
}
.mleft2 h1{
  color: aliceblue;
}
.mright2{
  
  width: 30%;
  height: 50vh;
  background-color: #fcc133;
}
.mright2 p{
 margin-top: 88px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.assteak {
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-image: url(./images/steak.png);
}
.asbreak{
  color: white;
  background-color: black;
  text-align: center;
  width: 25%;
  border: solid 8px;
  border-color: #fcc133;
}
.astop{
  padding-top: 80px;
}
.ascont2{
  width: 76%;
  margin: auto;
}
.asbreak h1{
  padding: 50px 20px 30px 20px;
  font-weight: 700;
}
.asbreak h3{
  padding: 0px 20px 30px 20px;
  line-height: 1.4;
  font-weight: 700;

}
.asbreak h4{
  cursor: pointer;
  padding: 0px 20px 50px 20px;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 100;
}
.asbottom{
  color: black;
  background-color: #fcc133;
  text-align: center;
  width: 25%;
  border: solid 8px;
  border-color: #fcc133;
}
.asbottom{
  margin-top: 30px;
  padding-top: 20px;
}
.ashealthy h1{
  padding: 50px 20px 30px 20px;
  font-weight: 700;
}
.ashealthy h3{
  padding: 0px 20px 30px 20px;
  line-height: 1.4;
  font-weight: 700;

}
.ashealthy h4{
  cursor: pointer;
  padding: 0px 20px 50px 20px;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 100;
}
.asfresh{
  display: flex;
  color: white;
  padding: 80px 0px 0px 150px ;
  height: 30vh;
  background-color: #292930;
}
.asfood{
  width: 30%;
}
.asfood h1{
  padding: 20px;
}
.asfood h3{
  padding: 20px;
}
.asicons{
  padding-left: 20px;
  font-size: 27px;
  color: #fcc133;;
}
.asfor{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.asmenu{
  padding: 15px;
}
.asmenu i{
  color: #fcc133;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 50px;
}