@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
.tastiest{
  background: url(/images/pexelsphoto842142.jpeg);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.tasttext{
  width: 50%;
  text-align: left;
  padding-bottom: 80px;
}
.tasttext h1{
  font-weight: 700;
  font-size: 60px;
}
.tasttext p{
  font-size: 24px;
  line-height: 1.5; 
}
.reviews{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #292930;
  color: #FFFFFF;
}
.rewleft{
  width: 50%;
  height: 90vh;
}
.rewleft img{
  width: 100%;
  height: 100%;
}
.rewright{
  width: 50%;
  text-align: center;
}
.rewright h1{
  font-size: 50px;
  font-weight: bold;
  padding: 50px 0;
}
.rewright i{
  color: #fcc133;
  font-size: 60px;
}
.rewright p{
  margin: 20px 0;
  font-size: 24px;
  line-height: 1.5;
}
.loo{
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0;
}
.abcontact{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #292930;

}
.abconot1 p{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;

}
.abconot1 h4{
  font-size: 28px;
  line-height: 1.3;
  font-weight: 800;
  margin: 20px 0;
  color: #FFFFFF;
}
.abconot2 {
  background: url(/images/pexelsphoto262945.jpeg);
  background-size: 100% 100%;
  width: 250px;
  height: 300px;
  margin-top: 50px;
}
.abconot2 img{
  width: 100%;
}
.abconot3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 600px;
  background: #fcc133;
}
.abtext1 h1{
  font-size: 48px;
  font-weight: 700;
  padding: 20px 0;
}
.abtext1 p{
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.foooter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
  background: #333333;
}
.foooter p{
  margin:0 10px ;
}
.foooter a{
  color: rgba(100, 100, 246, 0.749);
}